<div style=" margin-bottom: 30px" *ngFor="let villain of villains">
  <div>
    <span>Villain id - </span>
    <span style="font-weight: bold">{{ villain.id }}</span>
  </div>

  <div>
    <span>Villain name - </span>
    <span style="font-weight: bold">{{ villain.name }}</span>
  </div>

  <div>
    <span>Villain weapon - </span>
    <span style="font-weight: bold">{{ villain.weapon }}</span>
  </div>

  <div>
    <span>Villain level - </span>
    <span style="font-weight: bold">{{ villain.level }}</span>
  </div>

  <div>
    <span>Villain level - </span>
    <span style="font-weight: bold">{{ villain.gift }}</span>
  </div>
</div>
