<div
  class="User-details"
  style="display: flex"
>
  <div>
    <div>
      <button (click)="goBack()">Back</button>
    </div>
    <img
      src="../../../assets/img/profile-default.jpg"
      class="avatar"
      alt="skeleton-avatar">
  </div>

  <div class="ml-4">
    <div>
      <div style="font-weight: bold">Info:</div>
      <div><span>{{user.name}} || {{user.username}}</span></div>
      <div><span>{{user.email}}</span></div>
    </div>
    <div>
      <div>
        <div style="font-weight: bold">Contacts:</div>
        <div>{{user.phone}}</div>
        <div>{{user.website}}</div>
      </div>
      <div>
        <div style="font-weight: bold">Company:</div>
        <div>{{user.company.name}}</div>
        <div>{{user.company.catchPhrase}}</div>
      </div>
    </div>
    <button>Albums</button>
  </div>

</div>

<div style="display: flex; justify-content: space-between">
  <app-posts></app-posts>
  <app-plans></app-plans>
</div>

