<div
  class="User-details"
  style="display: flex"
>
  <button (click)="goBack()">Back</button>
  <img
    src="../../../assets/img/profile-default.jpg"
    class="avatar"
    alt="skeleton-avatar">

  <div class="ml-4">
    <div>
      <div style="font-weight: bold">Info:</div>
      <div><span>{{user.name}} || {{user.username}}</span></div>
      <div><span>{{user.email}}</span></div>
    </div>
    <div>
      <div>
        <div style="font-weight: bold">Contacts:</div>
        <div class="">{{user.phone}}</div>
        <div class="">{{user.website}}</div>
      </div>
      <div>
        <div style="font-weight: bold">Company:</div>
        <div class="">{{user.company.name}}</div>
        <div class="">{{user.company.catchPhrase}}</div>
      </div>
    </div>
  </div>

</div>

<div style="display: flex; justify-content: space-between">
  <app-posts></app-posts>
  <app-plans></app-plans>
</div>
