<div
  class="User-details"
  (click)="goBack()"
  style="display: flex"
>

  <img
    src="../../../assets/img/profile-default.jpg"
    class="avatar"
    alt="skeleton-avatar">

  <div class="ml-4">
    <div>
      <div class="">
        <span>{{user.name}} || {{user.username}}</span>
      </div>
      <div class="">
        <span>{{user.email}}</span>
      </div>
    </div>
    <div>
      <div>
        <div class="">Contacts:</div>
        <div class="">{{user.phone}}</div>
        <div class="">{{user.website}}</div>
      </div>
      <div>
        <div class="user-name">Company:</div>
        <div class="">{{user.company.name}}</div>
        <div class="">{{user.company.catchPhrase}}</div>
      </div>
    </div>
  </div>

</div>

<div style="display: flex; justify-content: space-between">
  <app-posts></app-posts>
  <app-plans></app-plans>
</div>
