<div
  class="User-card"
  routerLink="/users/{{user.id}}"
>
  <div class="user-base">
    <img
      src="../../../../assets/img/profile-default.jpg"
      class="avatar"
      alt="skeleton-avatar">
    <div>
      <div class="ml-2 user-name">{{user.name}}</div>
      <div class="ml-2 user-nickname">
        <span>{{user.username}}</span> || <span>{{user.email}}</span>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="user-name">Contacts:</div>
      <div class="ml-2">{{user.phone}}</div>
      <div class="ml-2">{{user.website}}</div>
    </div>
    <div>
      <div class="user-name">Company:</div>
      <div class="ml-2">{{user.company.name}}</div>
      <div class="ml-2">{{user.company.catchPhrase}}</div>
    </div>
  </div>
</div>
